html {
    font-family: "Noto Sans KR";
}

h1 {
    font-size: 30pt;
    color: #27AF38;
}

p {
    font-size: 20px;
}

.container {
    width: 400px;
    display: inline-block;
}


body {
    margin: 0;
    text-align: center;
}

footer {
    background-color: #363633;
    padding: 10px;
}

footer h3 {
    color: white;
    text-align: left;
    font-size: 12px;
    margin: 0 0 3px 0;
}

footer p {
    text-align: left;
    color: white;
    font-size: 10px;
    margin: 0 0 0 0;
}