html {
    font-family: "Noto Sans KR";
}

h1 {
    font-size: 30pt;
    color: #27AF38;
}

h2 {
    color: #27AF38;
}

p {
    font-size: 20px;
}

.container {
    width: 400px;
    display: inline-block;
}


body {
    margin: 0;
    text-align: center;
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    width: 100%;
    background-color: #27AF38;
    padding: 10px;
}

footer h3 {
    color: white;
    text-align: left;
    font-size: 12px;
    margin: 0 0 3px 0;
}

footer a {
    text-decoration: none;
}

footer p {
    color: white;
    font-size: 20px;
    margin: 0 0 0 0;
}