html {
    font-family: "Noto Sans KR";
    font-size:62.5%;
}

h1 {
    font-size: 3rem;
    color: #27AF38;
}

h2 {
    color: #27AF38;
}

p {
    font-size: 1.4rem;
}

.container {
    width: 100%;
    display: inline-block;
}

.work1 {
    padding: 2em 0 2em 0;
    background-image: url('img/DJ.jpg');
    background-size: 100%;
    background-position: center 45%;
}

.work2 {
    padding: 2em 0 2em 0;
    background-image: url('img/WR.jpg');
    background-size: 100%;
    background-position: center 45%;
}

.work3 {
    padding: 2em 0 2em 0;
    background-image: url('img/PD.jpg');
    background-size: 100%;
    background-position: center 60%;
}

.work h3 {
    margin: 0;
    color: white;
    font-size: 1.6rem;
}

.work p {
    margin: 1em 0 0 0;
    color: white;
}

body {
    margin: 0;
    text-align: center;
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    width: 100%;
    background-color: #27AF38;
    padding: 10px 0;
}

footer a {
    text-decoration: none;
}

footer p {
    color: white;
    font-size: 2rem;
    margin: 0 0 0 0;
}